.reading, .baking, .dancing, .singing {
    font-weight:bold;
    display:inline;
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 15px
}
h1 {
    text-align:center;
    color:white;
    font-size: large;
}
p {
    text-align: center;
    font-size: large;
}
.readtext, .baketext, .dancetext, .singtext {  
    font-weight: bold;
    display:inline;
    margin: 85px;
    margin-top: 0px;
    text-align: center;
}
ul {
    text-align: center;
}
body {
    text-align: center;
}
html {
    background-color:darkcyan;
}
body {
    width: 1000px;
    margin: 0 auto;
    vertical-align: middle;
}