h1 {
    text-align:center;
    color:white;
    font-size:50px;
    text-decoration: underline;
    font-family: 'Dancing Script', cursive;
}
p {
    text-align: center;
}
h2 {
    font-family: 'Rampart One', cursive;
    font-size: 30px;
    text-decoration:underline;
}
ol {
    font-family: 'Itim', cursive;
    font-size:20px;
}
.fampic1, .parentpic1, .grandmapic1, .bropic1 {
    font-weight:bold;
    display:inline;
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 15px
}
html {
    background-color: rgb(193, 177, 207);
}
body {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    vertical-align: middle;
    border-style:double;
    border-color:black;
    background-color: rgb(175, 154, 194);
}