.reading, .baking, .dancing, .singing {
    font-weight:bold;
}
h1 {
    text-align:center;
}
p {
    text-align: center;
}
body {
    text-align: center;
}
html {
    background-color:darkcyan;
}
body {
    width: 600px;
    margin: 0 auto;
    vertical-align: middle;
}