.reading, .baking, .dancing, .singing {
    font-weight:bold;
    display:inline;
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 15px;
}
.readtext, .baketext, .dancetext, .singtext {
    margin-left: 50px;
}
.picOfMe {
    margin-left: 320px;
}
.firstlink {
    margin-left: 350px;
}
.secondlink {
    margin-left: 385px;
}
.thirdlink {
    margin-left: 435px;
}
p {
    text-align: center;
    font-size: 25px;
    font-family:'Lobster', cursive;
}
h1 {
    text-align:center;
    color:white;
    font-size:50px;
    font-family:'Lobster', cursive;
}
h2 {
    text-align: center;
    margin-top:1px;
    font-family:'Lobster', cursive;
    /* margin-left: 75px;
    float: left; */
}

.readtext, .baketext, .dancetext, .singtext {  
    font-weight: bold;
    display:inline;
    margin: 85px;
    margin-top: 0px;
    text-align: center;
}
.lists {
    display:inline;
}
ol {
    text-align: center;
    font-size:25px;
    font-family: 'Montserrat', sans-serif;
    /* margin-right: 700px;
    float:left; */
}
li {
    text-align: center;
    font-size:25px;
    font-family: 'Montserrat', sans-serif;
}
html {
    background-color:rgb(173, 218, 247);
    
}
body {
    width: 1000px;
    margin: 0 auto;
    vertical-align: middle;
    border-style:dotted;
    border-color: black;
    background-color:rgb(149, 199, 233)
}
