h1 {
    text-align: center;
    color:rgb(53, 53, 230);
    font-size: 40px;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: underline;
}
body {
    background-image: url("../images/basketballBackground1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    margin: 40px;
}
p {
    text-align: center;
    font-size: 35px;
    font-family: 'IM Fell English SC', serif;
    color:crimson;
    font-weight: bold;
}
li {
    text-align: center;
    font-size:25px;
    font-family: 'IM Fell English SC', serif;
    color:crimson;
    font-weight: bold;
}
.videob {
    margin-left:1100px;
}
.videov {
    margin-left:1060px;
}
.sportslinks {
    margin-left:1050px;
}